<div *ngIf="stillLoading" class="mb-container content-view-loading-outer">
    <div class="content-view-loading-inner">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>
</div>

<div *ngIf="!stillLoading" class="users-container">

    <div class="users-navigation-container">
        <div class="mb-row">
            <div class="mb-col search-container">
                <div class="padding-10 text-align-left">
                    <app-input-search [searchButtonText]="'Serach'" (resetSearch)="resetSearchUsers($event)" (startSearch)="searchUsers($event)"></app-input-search>
                </div>
            </div>
            <div class="mb-col users-list-options">
                <div class="padding-10 text-align-right">
                    <button *ngIf="users.length" class="button hide">Delete all</button>
                    <button class="button" (click)="toggleModal()">Create new</button>
                    <div *ngIf="userCreatedSuccessfullyAlertVisibility">
                        <span class="alert_message_success">User was ceated successfully!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="users-list-container padding-10">
        <div *ngIf="!stillLoadingUsersPage && users.length" class="list-box">
            <app-users-list [users]="users"></app-users-list>
        </div>
        <div *ngIf="!users.length && !stillLoadingUsersPage" class="users-list-empty-box padding-10 text-align-center">
            There are no users!
        </div>
        <div *ngIf="stillLoadingUsersPage" class="mb-container-users content-view-loading-outer">
            <div class="content-view-loading-inner">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
        </div>
        <div *ngIf="users.length" class="list-pagination-box">
            <div class="mb-row">
                <div class="mb-col text-align-center padding-10">
                    <button [disabled]="!showPrevBtn" (click)="prevPage()" class="button pagination-btn pagination-btn-prev">
                        <!-- <div><i class="fal fa-chevron-double-left"></i></div>  -->
                        <div class="btn-prev">Prev</div>
                    </button>
                    <small class="page-number-counter">Page: {{pagesFirstDocuments.length}}</small>
                    <button [disabled]="!showNextBtn" (click)="nextPage()" class="button pagination-btn pagination-btn-next">
                        <div class="btn-next">Next</div> 
                        <!-- <div><i class="fal fa-chevron-double-right"></i></div> -->
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="add_new_user_modal" class="modal" [class.is-active]="showCreateUserModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Create New User</p>
                <button (click)="toggleModal()" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">

                <form [formGroup]="newUserForm">

                    <label>Email:
                        <input class="form-control" #email required type="email" formControlName="email">
                      </label>
                    <div *ngIf="getFormFieldRef.email.invalid && (getFormFieldRef.email.dirty || getFormFieldRef.email.touched || newUserFormIsDirty)" class="alert alert-danger">
                        <div *ngIf="email.value === '' && getFormFieldRef.email.errors.required">
                            Email is required.
                        </div>
                        <div *ngIf="email.value !== '' && getFormFieldRef.email.errors.email">
                            Email is wrong.
                        </div>
                    </div>

                    <label>Password:
                        <input class="form-control" required type="password" formControlName="password">
                      </label>
                    <div *ngIf="getFormFieldRef.password.invalid && (getFormFieldRef.password.dirty || getFormFieldRef.password.touched || newUserFormIsDirty)" class="alert alert-danger">
                        <div *ngIf="getFormFieldRef.password.errors.required">
                            Password is required.
                        </div>
                    </div>

                    <label>First Name:
                        <input class="form-control" required type="text" formControlName="firstName">
                      </label>
                    <div *ngIf="getFormFieldRef.firstName.invalid && (getFormFieldRef.firstName.dirty || getFormFieldRef.firstName.touched || newUserFormIsDirty)" class="alert alert-danger">
                        <div *ngIf="getFormFieldRef.firstName.errors.required">
                            First name is required.
                        </div>
                    </div>

                    <label>Last Name:
                        <input class="form-control" required type="text" formControlName="lastName">
                      </label>
                    <div *ngIf="getFormFieldRef.lastName.invalid && (getFormFieldRef.lastName.dirty || getFormFieldRef.lastName.touched || newUserFormIsDirty)" class="alert alert-danger">
                        <div *ngIf="getFormFieldRef.lastName.errors.required">
                            Last name is required.
                        </div>
                    </div>

                    <div *ngIf="newUserFormWrong" class="alert alert-danger">
                        Someting went wrong! Please try again.
                    </div>

                    <div *ngIf="newUserFormUserExist" class="alert alert-danger">
                        There is a user with this email, please try again with another email.
                    </div>

                </form>

            </section>
            <footer class="modal-card-foot">
                <div *ngIf="isCreatingUser" class="create-user-container">
                    <small>Creating... </small>
                    <mat-spinner [diameter]="30"></mat-spinner>
                </div>
                <button [disabled]="getFormFieldRef.email.value === '' || getFormFieldRef.email.errors || getFormFieldRef.firstName.errors || getFormFieldRef.lastName.errors || signUpFormLoadingNow ? 'disabled': ''" class="button" (click)="onCreateUser()">Create</button>
                <button class="button" (click)="toggleModal()">Cancel</button>
            </footer>
        </div>
    </div>

</div>