.content-view-loading-inner ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #1d2531;
}

.mb-container {
    height: calc(100vh - 120px);
}

.users-container {
    .users-navigation-container {
        .search-container {
            input {
                display: block;
                width: 100%;
                padding: 0.375rem 0.75rem;
                font-size: 0.8rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }
        }
        .users-list-options {
            button {
                margin: auto 5px;
            }
        }
    }
    .users-list-container {
        .list-box {}
        .list-pagination-box {
            margin: 2rem auto;
            button {
                vertical-align: middle;
                padding: 0 2rem;
                margin: auto 10px;
                background-color: transparent;
                border: 1px solid #1d2531;
                color: #1d2531;
            }
            small {
                vertical-align: middle;
                margin: auto 10px;
                &.pagination-btn {
                    font-weight: 500;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        // font-weight: bold;
                        border-bottom: 1px solid gray;
                        i {
                            // font-weight: bold;
                        }
                    }
                    i {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}