.content-view-loading-inner ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #1d2531;
}

.mb-container {
    height: calc(100vh - 120px);
}

.mb-container-users {
    height: 60vh;
}

.users-container {
    .users-navigation-container {
        .users-list-options {
            button {
                margin: auto 5px;
            }
        }
    }
    .users-list-container {
        .list-box {}
        .list-pagination-box {
            margin: 2rem auto;
            .pagination-btn {
                background: #1d2531;
                transition: all 0.3s ease-out;
                color: #fff;
                margin: auto 20px;
                border: 1px solid #1d2531;
                vertical-align: middle;
                .btn-prev {
                    margin-left: 5px;
                }
                .btn-next {
                    margin-right: 5px;
                }
            }
            .page-number-counter {
                display: inline-block;
                vertical-align: middle;
            }
            vertical-align: middle;
            i {
                vertical-align: middle;
            }
        }
    }
}