.event-settings-main-container {
    padding: 10px;
    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 2px;
        border-style: solid;
        border-color: threedface;
        border-image: initial;
        border-color: #ced4da;
        border-radius: 10px;
        border-width: 1px;
        margin: 10px;
        legend {
            font-weight: bold;
            padding: 10px;
        }
    }
    .event-settings-err-msg {
        color: red;
        font-style: italic;
        font-size: 0.6rem;
        font-variant: small-caps;
        font-weight: 500;
    }
    .save-settings-container {
        padding: 10px;
        small {
            font-size: 1rem;
            font-weight: bold;
            padding-right: 10px;
        }
        mat-spinner {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.save-settings-container ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #e9760a;
}

.content-view-loading-inner ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #0c3e5e;
}

.curr-lang-label {
    font-size: 1rem;
    font-style: italic;
    text-transform: lowercase;
    font-weight: bold;
}

#event-langs-nav ::ng-deep .mat-ink-bar,
.mat-ink-bar {
    background-color: rgb(36, 36, 36);
}

.form-container {
    label {
        font-size: 0.8rem;
        font-weight: 500;
    }
    input[type=text],
    input[type=date],
    textarea,
    select {
        display: block;
        width: 100%;
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}