.user-row {
    color: #424951;
    font-size: .8rem;
    transition: .3s all ease;
    &:hover {
        background-color: #d1d8e0;
    }
    .user-column {
        border: 1px solid #e6eeee;
        padding: 10px;
        align-items: center;
        display: flex;
        &.img-box {
            justify-content: center;
            padding: 3px;
        }
        img {
            width: 30%;
            border-radius: 50%;
        }
        span {
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &:hover {
                i {
                    color: #1d2531;
                    font-weight: bold;
                }
            }
            i {
                transition: .3s all ease;
            }
        }
    }
}