<div class="mb-row user-row">
    <div class="mb-col-sm-1 text-align-center user-column img-box">
        <img src="{{user.user_image}}" alt="">
    </div>
    <div class="mb-col text-align-left user-column">{{user.first_name | titlecase }}</div>
    <div class="mb-col text-align-left user-column">{{user.last_name | titlecase }}</div>
    <div class="mb-col text-align-left user-column">{{user.email}}</div>
    <div class="mb-col-sm-1 text-align-left user-column">{{user.role}}</div>
    <div class="mb-col-sm-1 text-align-center user-column">
        <div class="mb-row">
            <span routerLink="" class="mb-col"><i class="fal fa-pen"></i></span>
            <span (click)="toggleModalRemoveUser()" class="mb-col"><i class="fal fa-trash"></i></span>
        </div>
    </div>
</div>