<div class="mb-row user-row">
    <div class="mb-col-sm-1 text-align-center user-column img-box">
        <img src="{{user.user_image}}" alt="">
    </div>
    <div *ngIf="user.first_name !== ''" class="mb-col text-align-left user-column">{{user.first_name | titlecase }}</div>
    <div *ngIf="user.first_name === ''" class="mb-col text-align-left user-column">-</div>
    <div *ngIf="user.last_name !== ''" class="mb-col text-align-left user-column">{{user.last_name | titlecase }}</div>
    <div *ngIf="user.last_name === ''" class="mb-col text-align-left user-column">-</div>
    <div *ngIf="user.company_name !== ''" class="mb-col text-align-left user-column">{{user.company_name | titlecase }}</div>
    <div *ngIf="user.company_name === ''" class="mb-col text-align-left user-column">-</div>
    <div class="mb-col text-align-left user-column">{{user.email}}</div>
    <div class="mb-col-sm-1 text-align-left user-column">{{user.role}}</div>
    <div class="mb-col-sm-1 text-align-center user-column">
        <div class="mb-row">
            <span routerLink="" class="mb-col"><i class="fal fa-pen"></i></span>
            <span (click)="toggleModalRemoveUser()" class="mb-col"><i class="fal fa-trash"></i></span>
        </div>
    </div>
</div>


<div id="delete_user_modal" class="modal" [class.is-active]="showDeleteUserModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Delete User</p>
            <button (click)="toggleModalRemoveUser()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">

            <h3>Delete user
                <b *ngIf="user.first_name !== '' || user.last_name !== ''">{{user.first_name | titlecase }} {{user.last_name | titlecase }}</b>
                <b *ngIf="user.company_name !== ''">{{user.company_name | titlecase }}</b> . Are you sure?
            </h3>

        </section>
        <footer class="modal-card-foot">
            <div *ngIf="isDeletingUser" class="delete-user-container">
                <small>Deleting... </small>
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
            <button class="button is-danger" (click)="doRemoveUser()">Delete</button>
            <button class="button" (click)="toggleModalRemoveUser()">Cancel</button>
        </footer>
    </div>
</div>