.event-design-container ::ng-deep .mat-ink-bar,
.mat-ink-bar {
    background-color: #1d2531;
}

.content-view-loading-inner ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #1d2531;
}

.save-design-container ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #e9760a;
}

.save-home-page-container ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #e9760a;
}

.upload-new-img-spinner ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #1d2531;
}

.upload-new-img-spinner,
.upload-new-img-spinner-label {
    display: inline-block;
    vertical-align: middle;
}

.event-design-container {
    padding: 10px;
    .save-design-container,
    .upload-new-img-spinner,
    .save-home-page-container {
        padding: 10px;
        small {
            font-size: 1rem;
            font-weight: bold;
            padding-right: 10px;
        }
        mat-spinner {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .upload-new-img-spinner {
        padding: 10px;
        small {
            font-size: 1rem;
            font-weight: bold;
            padding-right: 10px;
        }
        mat-spinner {
            display: inline-block;
            vertical-align: middle;
        }
    }
    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 2px;
        border-style: solid;
        border-color: threedface;
        border-image: initial;
        border-color: #ced4da;
        border-radius: 10px;
        border-width: 1px;
        margin: 10px;
        legend {
            font-weight: bold;
            padding: 10px;
        }
    }
    label {
        font-size: 0.8rem;
        font-weight: 500;
    }
    input[type=text],
    input[type=date],
    textarea,
    select {
        display: block;
        width: 100%;
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    input[type=custom_color] {
        display: block;
        width: 100%;
        display: block;
        width: auto;
        padding: 0.375rem 0.75rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5;
        // color: #495057;
        // background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .color-picker {
        border-radius: 10px;
    }
    .input-file-label {
        font-size: 0.8rem;
        font-weight: 500;
    }
    .input-file-upload {
        display: none;
    }
    .input-file-upload+label {
        color: white;
        background-color: #1d2531;
        max-width: 80%;
        font-size: 1rem;
        font-weight: 700;
        text-overflow: ellipsis;
        display: inline-block;
        overflow: hidden;
        padding: 0.625rem 1.25rem;
    }
    .input-file-upload+label svg {
        width: 1em;
        height: 1em;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        margin-right: 0.25em;
    }
    .image-preview-container {
        width: 100%;
        padding: 10px;
        img {
            max-width: 50%;
        }
        .homepage-cover {
            max-width: 25%;
        }
    }
}