<div class="reset-password-container">
    <div class="reset-password-form-container">

        <h1>Reset your account password</h1>

        <form [formGroup]="resetPasswordForm">

            <label>Email:
                <input class="form-control" #email required type="email" formControlName="email">
              </label>
            <div *ngIf="getFormFieldRef.email.invalid && (getFormFieldRef.email.dirty || getFormFieldRef.email.touched || resetPasswordFormIsDirty)" class="alert alert-danger">
                <div *ngIf="email.value === '' && getFormFieldRef.email.errors.required">
                    Email is required.
                </div>
                <div *ngIf="email.value !== '' && getFormFieldRef.email.errors.email">
                    Email is wrong.
                </div>
            </div>

            <button [disabled]="getFormFieldRef.email.value === '' || getFormFieldRef.email.errors || resetPasswordFormLoadingNow ? 'disabled': ''" class="button" (click)="resetUserPassword()">Reset password</button>

            <div class="reset-password-form-loading" *ngIf="resetPasswordFormLoadingNow">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>

            <div *ngIf="resetPasswordFormWrong" class="alert alert-danger">
                Someting went wrong! Please try again.
            </div>

            <div *ngIf="resetPasswordFormSuccess" class="alert alert_message_success">
                Reset email was sent successfully!
            </div>

        </form>

        <div (click)="openSignIn()" class="reset-password-footer-container">
            <small>Sign In</small>
        </div>

    </div>
</div>