<div class="translations-nav-container">
    <!-- TODO: Live Search -->

    <!-- TODO: Save translations -->
</div>
<div class="mb-row translation-list-item">
    <div class="mb-col-sm-3 translation-col-box tra-key">
        KEY
    </div>
    <div class="mb-col-sm-3 translation-col-box tra-default">
        DEFAULT
    </div>
    <div class="mb-col-sm-6 translation-col-box">
        VALUE
    </div>  
</div>
<div class="translation-list-container" *ngFor="let translation of translations">
    <app-translations-list-item [translation]="translation"></app-translations-list-item>
</div>

