<div class="main-navigation-container">

    <div class="logo-box">
        <img src="../../../../assets/img/logo_transparent.png" class="img-fluid" alt="">
    </div>

    <div class="menu-box">
        <ul class="menu-list">
            <li class="menu-list-item" routerLinkActive="active" [routerLink]="['dashboard']"><i class="fas fa-home"></i> <span>Dashboard</span></li>
            <li class="menu-list-item" routerLinkActive="active" [routerLink]="['events']"><i class="fas fa-project-diagram"></i> <span>Events</span></li>
            <li class="menu-list-item" routerLinkActive="active" [routerLink]="['users']"><i class="fas fa-users"></i> <span>Users</span></li>
        </ul>
    </div>

    <div class="user-settings-box">
        <div class="user-name-box">
            <div class="greeting">Welcome, </div>
            <div class="user-name">{{currentLoggedUser.first_name}} {{currentLoggedUser.last_name}}</div>
        </div>
        <img src="{{currentLoggedUser.user_image}}" alt="">
        <div class="user-menu-box animated fadeInDown">
            <ul class="user-menu-list">
                <li class="menu-list-item" routerLinkActive="active" [routerLink]="['myprofile']"><i class="far fa-user-cog"></i> <span>My Profile</span></li>
                <li class="menu-list-item" (click)="logOutUser()"><i class="far fa-sign-out"></i> <span>Logout</span></li>
            </ul>
        </div>
    </div>

</div>